<div class="imgWidth">
  <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
<h1 class="text-center isHeadding">
Best Offers In All Rice Bags
</h1>
<div class="container mgTop">

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " *ngFor ="let img of totalProducts; let i=index;">
    <div class="myimg" (click)="show(img)">
    <img src= "{{imgUrl+img.image}}" class="rounded " alt="Quality Rice" width="250" height="236">
    <h5>{{img.productname }} ({{img.weight}} Kg)</h5>
    <h4><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{img.cost}}</h4>
    </div>
  </div>
 

</div>