<div class="container">
   
  <div class="col-md-10 col-md-offset-1 main" >
  <div class="col-md-6 left-side" >
  <h2>Welcome To.... BigStore</h2>
  <!-- <h2>BigSore</h2> -->
  <br>
<div class="createaccount">
    <button class="btn"  routerLink="/login/signup" >Create New Account</button>
    
</div>
<div class="createaccount">
    <button class="btn"   (click)="cancel()">Cancel</button>
    
</div>

  </div><!--col-sm-6-->
  
  <div class="col-md-6 right-side">
  <h3>Login</h3>
  
<!--Form with header-->
<div class="form">


      <div class="form-group">
      <label for="form2">Your MobileNumber/E-mail</label>
          <input type="text" id="form2" class="form-control input-lg" [(ngModel)]="user.email" id="email" name="emailmobile">
          
      </div>

      <div class="form-group">
      <label for="form4">Your password</label>
          <input type="password" id="form4" class="form-control input-lg" [(ngModel)]="user.password" name="password">
         
      </div>

      <div class="text-xs-center">
        <a>Forgot password</a>
          <button class="btn btn-deep-purple" (click)="authUser(user)">Login</button>
      </div>


</div>