<h3>Personal Information</h3>
<div class="panel panel-default" >
    <div class="panel-body">
        <form #myForm="ngForm" >
            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                 <span>Full Name:</span>  
                  <input type="text" class="form-control" [disabled]="isEdit" [(ngModel)]="user.fullname" #fullname="ngModel"  name="fullname" placeholder="" required />
                  <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="error">
                      <div [hidden]="!fullname.errors.required">Please fill out this field.</div>
                  </div>
                  </div>
                  <div class="form-group">
                      <span>
                          Your Gender is:</span>
                      <select class="form-control" [(ngModel)]="user.gender" [disabled]="isEdit"  #gender="ngModel"  name="gender" required>
                          <option value="">I am ...</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <!-- <option>Contact</option> -->
                      </select>
                      <!-- <div *ngIf="state.errors && (state.dirty || state.touched)" class="error">
                          <div [hidden]="!state.errors.required">Please fill out this field.</div>
                      </div> -->
                  </div>

                  <div class="form-group">
                      <span>Mobile Number:</span>
                      <input type="text" class="form-control" [(ngModel)]="user.mobile" [disabled]="isEdit" name="mobile" #mobile="ngModel"  pattern="^[6789]\d{9}$"  maxlength="10"  placeholder="" required />
                 
                      <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)" class="error">
                          <div [hidden]="!mobile.errors.required">Please fill out this fiel..</div>
                          <div [hidden]="!mobile.errors.pattern">Not a valid Mobile Number.</div>
                      </div>
                    </div>

                    <div class="form-group">
                        <span>Your E-mail ID</span>
                        <input type="text"  class="form-control" [(ngModel)]="user.email" [disabled]="isEdit" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  name="email" #email="ngModel" required>
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="error">
                            <div [hidden]="!email.errors.required">Please fill out this field.</div>
                            <div [hidden]="!email.errors.pattern">Please Enter proper Email correctly.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-md"  *ngIf=isEdit (click)="enableEdit()" >
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                        <button type="submit" class="btn btn-info btn-md" *ngIf=!isEdit (click)="onSave(user)">
                            <i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-danger btn-md" *ngIf=!isEdit (click)="cancel()">
                            <i class="fa fa-times"></i> &nbsp;Cancel</button>
                    </div>

     </div>
     </form>
    </div>

  </div>