<div class="container">
    
  <div class="col-md-10 col-md-offset-1 main" >
  <div class="col-md-6 left-side" >
  <h2>Welcome To.... BigSore</h2>
  <!-- <h2>BigSore</h2> -->
  <br>
<div class="createaccount">
  <!-- <span>Already Member</span> -->
    <button class="btn" routerLink="/login/signin">Login</button>
    
</div>
<div class="createaccount">
    <button class="btn"   (click)="cancel()">Cancel</button>
    
</div>
  </div><!--col-sm-6-->
  
  <div class="col-md-6 right-side">
  <h3>Create New Account</h3>
  
<!--Form with header-->
<div class="form">

    <div class="form-group">
        <label for="form2">Full Name</label>
            <input type="text" id="form2" class="form-control input-lg" [(ngModel)]="user.fullname" name="fullname" #fullname="ngModel" name="fullname">
            
        </div>
        <div class="form-group">
            <label for="form2"> E-mail ID</label>
                <input type="text" id="form2" class="form-control input-lg" [(ngModel)]="user.email" name="email" #email="ngModel" name="email">
                
            </div>
      <div class="form-group">
      <label for="form2">Your Mobile Number</label>
          <input type="text" id="form2" class="form-control input-lg" [(ngModel)]="user.mobile" name="mobile" #mobile="ngModel" name="mobile">
          
      </div>

      <div class="form-group">
      <label for="form4">Your password</label>
          <input type="password" id="form4" class="form-control input-lg" [(ngModel)]="user.password" name="password" #password="ngModel" name="password">
         
      </div>

      <div class="form-group">
          <label for="form4"> Confirm Your password</label>
              <input type="password" id="form4" class="form-control input-lg"  [(ngModel)]="user.confirmpass" name="confirmpass" id="confpassword">
             
          </div>

      <div class="text-xs-center">
          <button class="btn btn-deep-purple" (click)="newUser(user)">Create</button>
      </div>


</div>