<footer>
    <div style="min-height: 250px;" class="footer" id="footer-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5> HELP </h5>
                <ul>
                    <li><a>Payments</a><hr></li>
                    <li><a>Saved Cards</a><hr></li>
                    <li><a>Shipping</a><hr ></li>
                    <li><a>Cancellation & Returns</a><hr></li>
                    <li><a>FAQ</a></li>               
                </ul>
                </div>
    
                 <div class="col-md-4">
                    <h5> BRAND NAME </h5>
                <ul>
                    <li><a>Lilitha</a><hr></li>
                    <li><a> Lohitha </a><hr></li>
                    <li><a>Bell</a><hr></li>
                    <li><a>Indian Gate</a><hr></li>
                    <li><a>Daawat</a></li>               
                </ul>
            </div>
    
             <div class="col-md-4">
                <h5> MISC </h5>
                <ul>
                    <li><a>Online Shopping</a><hr></li>
                    <li><a>Affliate Program</a><hr></li>
                    <li><a>Gift Card</a><hr></li>
                    <li><a>Subscription</a><hr></li>
                    <li><a>Sitemap</a></li>               
                </ul>
            </div>
           
            </div>
    
            
     <hr style="margin-bottom:0px; margin-top:30px; padding:0px;">
            <div class="row" id="sub-two">
    
                <div class="col-md-4">
                    <div class="vertical-line text-center">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <h4>TRACK YOUR ORDER</h4>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="vertical-line text-center">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <h4>FREE & EASY RETURNS</h4>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div style="margin:8px;" class="text-center">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <h4 style="color:#6d6c6c;">ONLINE CANCELLATIONS</h4>
                    </div>
                </div>
                
    
            </div>
            <hr style="margin-bottom:30px; margin-top:0px; padding:0px;">
    
           
    
        </div>
    </div>
    <!-- <div style="min-height: 50px;" >
    
        
    
    </div> -->
    <div class="text-center" id="footer-main">
        <p>Copyright © 2017 All rights reserved</p>
      </div>
    </footer>