<div class="container">
  
      <div class="col-md-10 col-md-offset-1 main">
          <div class="col-md-6 left-side">
              <h2>Welcome To.... BigStore</h2>
              <!-- <h2>BigSore</h2> -->
              <br>
              <!-- <div class="createaccount">
                  <button class="btn" routerLink="/login/signup">Create New Account</button>
  
              </div> -->
              <div class="cancel">
                  <button class="btn" (click)="cancel()">Cancel</button>
  
              </div>
  
          </div>
          <!--col-sm-6-->
  
          <div class="col-md-6 right-side">
              <h3>Forgot Password</h3>
  
              <!--Form with header-->
              <div class="form">
                  <form #myForm="ngForm">
  
                      <div class="form-group" *ngIf="count==0 || count==1">
                          <label for="form2">Your MobileNumber/E-mail</label>
                          <input type="text" id="form2" class="form-control input-lg " [(ngModel)]="user.email" id="email" name="email" #email="ngModel" required (ngModelChange)="pattren($event)">
                          <div *ngIf="email.errors && (email.dirty || email.touched)" class="error">Please Enter Registred Email Id/Mobile number.</div>
                          <div [hidden]="!invalidEmail" class="error">Please Enter proper Email.</div>
                          <div [hidden]="!invalidMobile" class="error">Please Enter proper mobile number.</div>
                      </div>
  
                      <div class="form-group" *ngIf="count==1">
                        <label for="form2">Enter OTP</label><a class="resendotp">Resend OTP</a>
                        <input type="text" id="form2" class="form-control input-lg" [(ngModel)]="verifyotp.otp" #otp="ngModel" name="otp" required>
                        <div *ngIf="otp.errors && (otp.dirty || otp.touched)" class="error">
                            <div [hidden]="!otp.errors.required">Please Enter OTP.</div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="count==2">
                        <label for="form4">New password</label>
                        <input type="password" id="form4" class="form-control input-lg" [(ngModel)]="newpswd.password" minlength="6" name="password" #password="ngModel" required>
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="error">
                            <div [hidden]="!password.errors.required">Please Enter new Password.</div>
                            <div [hidden]="!password.errors.minlength">Password shuld be min 6 Charactors.</div>
                        </div>
                    </div>

                      <div class="text-xs-center">
                          <button class="btn btn-deep-purple" type="submit" *ngIf="count==0" [disabled]="!myForm.form.valid" (click)="forgotpassword(user)">Submit</button>
                          <button class="btn btn-deep-purple" type="submit" *ngIf="count==1" [disabled]="!myForm.form.valid" (click)="verifyOtp(verifyotp)">Verify OTP</button>
                          <button class="btn btn-deep-purple" type="submit" *ngIf="count==2" [disabled]="!myForm.form.valid" (click)="newPswd(newpswd)">Save Password</button>
                          
                          
                          
                        </div>
                  </form>
  
              </div>
    </div>

  </div>

</div>