

    <div class="alert alert-success alert-dismissable fade in" *ngIf="msg && msg.Success == true">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{msg.msg}}.
        </div>

        <div class="alert alert-danger alert-dismissable fade in" *ngIf="errors">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sorry!</strong> {{errors}}.
        </div>
    



<h3>Reset Password</h3>
<div class="panel panel-default" >
    <div class="panel-body" >
        <form #myForm="ngForm" >

        <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
             <span>Old Password:</span>  
              <input type="password" class="form-control" [(ngModel)]="resetpassword.oldpassword" minlength="6" #oldpassword="ngModel" name="oldpassword" placeholder="" required />
              
              <div *ngIf="oldpassword.errors && (oldpassword.dirty || oldpassword.touched)" class="error">
                  <div [hidden]="!oldpassword.errors.required">Please Enter Old Password.</div>
                  <div [hidden]="!oldpassword.errors.minlength">Password shuld be min 6 Charactors.</div>
              </div>
            </div>
            <div class="form-group">
                <span>New Password:</span>  
                 <input type="password" class="form-control" [(ngModel)]="resetpassword.newpassword" #newpassword="ngModel" minlength="6" name="newpassword" placeholder="" required />
                 <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" class="error">
                    <div [hidden]="!newpassword.errors.required">Please Enter New Password.</div>
                    <div [hidden]="!newpassword.errors.minlength">Password shuld be min 6 Charactors.</div>
                </div>
               
               </div>   
                 <div class="form-group">
                  <span>Confirm Password:</span>  
                   <input type="password" class="form-control" [(ngModel)]="resetpassword.confirmpassword"  validateEqual="newpassword" minlength="6" #confirmpassword="ngModel" name="confirmpassword" placeholder="" required />
                   <div *ngIf="confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched)" class="error">
                      <div [hidden]="!confirmpassword.errors.required">Please Enter Confirm Password.</div>
                      <div [hidden]="!confirmpassword.errors.minlength">Password shuld be min 6 Charactors.</div>
                      <div [hidden]="confirmpassword.valid || (confirmpassword.pristine && !myForm.submitted)">
                          Password mismatch
                      </div>
                  </div>
                 
                 </div>
                 <div class="form-group">
                    <button type="submit" class="btn btn-info btn-md" [disabled]="!myForm.form.valid" (click)="Resetpassword(resetpassword)">
                        Reset Password</button>
                    <button type="button" class="btn btn-danger btn-md" (click)="cancel()">
                        Cancel</button>
                </div>
            </div>
            </form>
    </div>

  </div>