
<div class="container">

		<!-- <figure  *ngIf="_dotLoder">
				<div class="dot white"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
		</figure> -->

  	<div class="card" >
			<div class="container-fliud">
				<div class="wrapper row" *ngIf="data">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content"  >
						  <div class="tab-pane active" id="pic-1"><img [src] ="data.href"/></div>
						  
						</div>
						
					</div>
					<div class="details col-md-6" >
						<h3 class="product-title">{{data.name}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
						<h4 class="price">current price: <span><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{data.cost * qty}}</span></h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">Net Weight:
							
							{{data.weight}} Kg
						</h5>
						<div>
              <label>Quantity:</label>
              <input type=number id="qty" [value]="qty" [(ngModel)]="qty" name="quantity" min="1">
            </div>
						<div class="action">
                            <button class="add-to-cart btn btn-default" (click)="addcart(data,qty)" type="button"><i class="fa fa-spinner fa-spin" *ngIf="_dotLoder"></i> &nbsp;add to cart</button>
							<button class="add-to-cart btn btn-default" type="button" (click)="buyNow(data,qty)"><i class="fa fa-spinner fa-spin" *ngIf="_dotLoder"></i> &nbsp; Buy Now</button>
              
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>