.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
.cart{
    box-shadow: 0px 1px 7px #e6e6e1;
    padding-top: 15px;
    padding-bottom: 15px;
	font-family: fantasy;
	/* margin-top: -6pc; */
	margin: 13pc;
}
.loder{
	margin-bottom: 20pc;
}



#loader {
	bottom: 0;
	height: 175px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 175px;
}
#loader {
	bottom: 0;
	height: 175px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 175px;
}
#loader .dot {
	bottom: 0;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 87.5px;
}
#loader .dot::before {
	border-radius: 100%;
	content: "";
	height: 87.5px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0);
	width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
	transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
	animation: 0.8s linear 0.1s normal none infinite running load;
	background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
	transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
	animation: 0.8s linear 0.2s normal none infinite running load;
	background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
	transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
	animation: 0.8s linear 0.3s normal none infinite running load;
	background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
	transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
	animation: 0.8s linear 0.4s normal none infinite running load;
	background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
	transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
	animation: 0.8s linear 0.5s normal none infinite running load;
	background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
	transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
	animation: 0.8s linear 0.6s normal none infinite running load;
	background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
	transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
	animation: 0.8s linear 0.7s normal none infinite running load;
	background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
	transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
	animation: 0.8s linear 0.8s normal none infinite running load;
	background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
	/* background-image: url("../images/loading.gif"); */
	background-position: 50% 50%;
	background-repeat: no-repeat;
	bottom: -40px;
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	width: 180px;
}
@keyframes load {
100% {
	opacity: 0;
	transform: scale(1);
}
}
@keyframes load {
100% {
	opacity: 0;
	transform: scale(1);
}
}

.isloader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /* position: relative; */
	margin: 0 auto;
	position: fixed;
	top: 20pc;
	bottom: 0;
	right: 0;
	left: 0;
}

/* LOADER 2 */

#loader-2 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
.minHeight{
	min-height: 500px;
}